header {
    display: flex;
    justify-content: center;
    align-items: center;
}

@font-face {
    font-family: 'Exo';
    src: url('Font/ExoSpaceDEMO.ttf') format('TrueType');
}

body {
    font-family: 'Exo';
    background: #211A44;
    background-size: contain;
    padding: 10px;
    margin: 10px;
    text-align: center;
}

h1, h2, h3 {
    text-align: center;
    color: #BE9CC7;
    font-size: xx-large;
}

p {
    color: #BE9CC7;
    text-align: center;
    font-size: x-large;
}

footer {
    display: flex;
    justify-content: right;
    align-items: center;
    text-align:center;
}
.grid__item {
    width: auto;
    height: auto;
}

.container {
    box-shadow: 0 0 50px rgba(255, 255, 255, 0);
    transition: box-shadow .3s;
    display: grid;
    grid-template-columns: 0fr 4fr;
    background: rgb(87,23,116);
    background: linear-gradient(0deg, rgba(87,23,116,0.6) 0%, rgba(29,45,146,0.6) 100%);
}
.specialgrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
    justify-content: center;
}