header {
    display: flex;
    justify-content: center;
    align-items: center;
}

@font-face {
    font-family: 'Exo';
    src: url('Font/ExoSpaceDEMO.ttf') format('TrueType');
}

/* Styles pour le corps de la page */
body {
    font-family: 'Exo';
    background: linear-gradient(to bottom, #211A44 0, #211A44 15%, #5C5792 15%, #5C5792 65%, #211A44 65%, #211A44 100%);
    padding: 0;
    margin: 0;
}

/* Styles pour les titres */
h1, h2, h3 {
    text-align: center;
    color: #BE9CC7;
}

/* Styles pour les paragraphes */
.p {
    color: #BE9CC7;
    text-align: justify;
    font-size: 18px;
    padding: 10px;
}

/* Styles pour la grille spéciale */
.specialgrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
    justify-content: center;
}

.one {
    grid-column: 1/3;
    grid-row: 1/3;
}

.two {
    grid-column: 3/3;
    grid-row: 1/3;
}

.three {
    grid-column: 3/3;
    grid-row: 2/3;
}
/* Styles pour le centre du header */
.HeaderCenter {
    padding: 20px;
}

.travelgrid {
    display: grid;
    /*grid-template-columns: 400px 400px 400px;*/
    grid-template-rows: 100px 100px;
    gap: 100px;
    justify-content: center;
    font-size: xx-large;
}
/* Styles pour les éléments de la grille */
.grid_item {
    margin: auto;
}

/* Styles pour le conteneur principal */
.container {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0);
    transition: box-shadow .3s;
    background: rgb(87,23,116);
    background: linear-gradient(0deg, rgba(87,23,116,0.6) 0%, rgba(29,45,146,0.6) 100%);
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
}

.box {
    width: 400px;
    height: 400px;
    font-size: xx-large;
}
.card {
     width: 100%;
     border-radius: 8px;
     transition: .3s;
}
/* Styles pour le footer */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
}
DocTech {
    display: grid;
    grid-template-columns: repeat(auto-fit, minimax(300px, 1fr));
    grid-gap: 1000px;
    justify-content: center;
}
/*------------------------------------------------------------*/
.images {
    display: flex;
    color: #BE9CC7;
    text-align: center;
}

.image {
    margin: 0;
    flex: 1;
    justify-content: center;
}

    .image + .image {
        margin-left: 10px;
        justify-content: center;
    }

.image-item {
    width: 100%;
    vertical-align: top;
    justify-content: center;
}

.image-description {
    margin-top: 10px;
    justify-content:center;
}