header {
    display: flex;
    justify-content: center;
    align-items: center;
}

@font-face {
    font-family: 'Exo';
    src: url('Font/ExoSpaceDEMO.ttf') format('TrueType');
}

@media screen and (max-width: 640px) {
    body {
        font-size: 14px; /* Réduire la taille de la police pour les écrans plus petits */
    }
}

body {
    font-family: 'Exo';
    background-color: #211A44;
    background-size: contain;
    padding: 0;
    margin: 0;
    width: auto;
    height: auto;
}

h1, h2, h3 {
    text-align: center;
    color: #BE9CC7;
}

p {
    color: #BE9CC7;
    text-align: left;
    font-size: large; /* Réduire la taille de la police de 2px */
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 50px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.grid_item {
    width: auto;
    height: auto;
}

.container {
    box-shadow: 0 0 50px rgba(255, 255, 255, 0);
    transition: box-shadow .3s;
    display: grid;
    grid-template-columns: 1fr;
    background: linear-gradient(0deg, rgba(87,23,116,0.6) 0%, rgba(29,45,146,0.6) 100%); /* Dégradé adaptatif */
    text-align: center;
    width: fit-content;
    height: fit-content;
}

.img{
    width: 570px;
}
@media (max-width: 570px){
    .img {
        width: 100%;
    }
}
    .container:hover {
        box-shadow: 0 0 50px rgba(255, 255, 255, 0.5);
    }

a:link, a:visited {
    color: white;
    text-decoration: none;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

HeaderCenter {
    width: auto;
    display: block;
    margin: auto;
    padding: 40px; /* Réduire l'espacement du header */
}

.specialgrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 10px;
    justify-content: center;
}

.justify {
    justify-content: center;
    text-align: center;
    margin: 4px;
}
